@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>@ViewData["Title"]</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="SearchTerm">
        <button type="submit" class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="glyphicon glyphicon-search"></i></button>
    </div>
</form>    

@foreach(var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

<a asp-page=".\Edit" class="btn btn-outline-primary">Add New</a>


@section footer {
    <div>@Model.Message</div>
}